<div
  id="addBtnContainer"
  class="position-fixed rounded-circle bg-primary shadow"
>
  <div id="addBtn" class="addBtn">
    <i
      id="addBtnIcon"
      class="fa-solid fa-plus fa-xl"
      style="color: #ffffff"
    ></i>
    <div id="addBtnText" class="addBtnText">New Task</div>
  </div>
</div>
