
main {
  position: fixed;
  overflow-y: auto;
  inset: 0;
  background-image: url("../images/index-bg-opacity.png");
  background-size: cover;
  background-repeat: no-repeat;
  transition: width 0.3s ease-in-out;
  width: 100%; /* Default width */
}

.image-title {
  max-width: 450px;
  max-height: 70px;
  position: relative;
  top: 10px; /* Adjust the vertical position */
  left: 7% /* Adjust the horizontal position */
}

#task-placeholder {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
  opacity: 0.4;
}
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media only screen and (max-width: 600px) {
  #task-placeholder {
    left: 55%;
  }
}
